// Widger Brands

.block.brands {
    float: none;
    margin-top: 40px;

    .block-title{
        display: none;
        margin: 0;
        padding: 0;
    }

    .block-content {

        .brandlist {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;

            .inner{
                padding: 0 15px;
            }

            .brand-logo {
                display: inline-block;
                margin-bottom: 15px;
                opacity: .2;
                &:hover {
                    opacity: 1;
                }
            }
            .brand-name {
                margin-bottom: 0;
            }
            > li {
                @media (max-width: $screen-lg-min - 1){
                    @include flex-basis(25% !important)
                }
                @media (max-width: $screen-sm-min - 1){
                    @include flex-basis(50% !important)
                }
            }

        }
        .owl-carousel{

            // controls
            .owl-controls {
                position: absolute;
                top: -25px;
                right: 0;

                .owl-buttons{
                    @media (max-width: $screen-sm-min - 1){
                        @include make-flex;
                        @include justify-content(space-between);
                        @include align-items(center);
                    }
                }

                .owl-prev{
                    @include font-icon("\e927");
                    display: inline-block;
                }
                .owl-next{
                    @include font-icon("\e928");
                    display: inline-block;
                }
                .owl-prev,
                .owl-next{
                    padding: 0 7px;
                    cursor: pointer;
                    &:before{
                        font-size: 16px;
                        line-height: 16px;
                        color: $accent;
                        @include transition(.3s ease);
                    }
                    &:hover:before{
                        color: $primary;
                    }
                }
            }
        }
    }

}