<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
if ($_attributeLabel && $_attributeLabel == 'default') {
$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
$_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
?>
<?php if ($_attributeValue): ?>
<div>
<?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php echo $_attributeLabel?></strong><?php endif; ?>
<?php if( $_className == 'tags'): ?>
	<span class="value <?php echo strtolower(str_replace(' ', '_', $_attributeValue)); ?> <?php echo strtolower(str_replace(' ', '_', $_className)) . '-' . strtolower(str_replace(' ', '_', $_attributeValue)); ?> <?php echo strtolower(str_replace(' ', '_', $_className)); ?>" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></span>
</div>
<?php else: ?>
	<div class="value <?php echo strtolower(str_replace(' ', '_', $_attributeValue)); ?> <?php echo strtolower(str_replace(' ', '_', $_className)); ?>" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></div>
	</div>
<?php endif; ?>
<?php endif; ?>