/**
 * Copyright © 2016 TemplateMonster. All rights reserved.
 * See COPYING.txt for license details.
 */

// Local vars
$category-link-size: 20px;
$category-link-size-small: 14px;
$category-link-color: $accent;
$category-link-color-hover: $primary;

$subcategory-link-size: 13px;
$subcategory-link-size-small: 13px;
$subcategory-link-color: $default;
$subcategory-link-color-hover: $primary;

$link-size: 16px;
$link-color: $primary;
$link-color-hover: $black;

// Main styles
.catalog-image-grid {
    margin-bottom: 30px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        img {
            max-width: 100%;
            font-size: 0;
        }
    }

    /************** Category **************/
    .category-grid,
    .category-list {
        overflow: hidden;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -20px;

        > li {
            padding: 0 20px;
            margin: 0 0 20px;
            box-sizing: border-box;

            @media (min-width: $screen-sm-min) {
                margin: 0 0 40px;
            }

            .grid-inner {
                box-sizing: border-box;
                position: relative;
            }
        }

        .category-link {
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: $category-link-size;
            color: $category-link-color;

            &:hover {
                color: $category-link-color-hover;
            }

            @media (max-width: 767px) {
                font-weight: 600;
                font-size: $category-link-size-small;
            }

            .category-name {
                display: inline-block;
                margin-bottom: 10px;
            }
            .category-image {
                display: block;
                line-height: 0;
            }

            .category-icon {
                display: inline-block;
                font-style: normal;

                &:before {
                    line-height: normal;
                    margin-right: 5px;
                }
            }
        }

        .button-more {
            text-decoration: none;
            font-size: $link-size;
            color: $link-color;

            &:hover {
                color: $link-color-hover;
            }
        }

        /************** SubCategory **************/
        .subcategory-grid {

            > li {
                padding: 0;
                margin: 0;
            }
            .subcategory-link {
                display: inline-block;
                text-decoration: none;
                font-weight: 500;
                font-size: $subcategory-link-size;
                line-height: 1.1;
                color: $subcategory-link-color;

                @media (min-width: $screen-xl-min){
                    line-height: 2.08;
                }

                &:hover {
                    color: $subcategory-link-color-hover;
                }

                @media (max-width: 767px) {
                    font-size: $subcategory-link-size-small;
                }

                .subcategory-name,
                .subcategory-image {
                    display: inline-block;
                }

                .subcategory-image {
                    vertical-align: middle;
                    margin-right: 10px;

                    img {
                        vertical-align: middle;
                    }
                }

                .category-icon {
                    display: inline-block;
                    font-style: normal;

                    &:before {
                        line-height: normal;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .grid-wrapper {
        overflow: hidden;

        .category-image {
            float: left;
            width: 33%;
            margin-right: 20px;
        }

        .subcategories {
            overflow: hidden;
            float: left;
        }
    }
    &.homepage-cig {
        .columns-3 {
            >li {
                @media (max-width: $screen-md-min - 1){
                    @include flex-basis(50%);
                }
                @media (max-width: $screen-sm-min - 1){
                    @include flex-basis(100%);
                }
            }
        }
        .grid-inner {
            .category-image {
                background: $black;
                img {
                    opacity: .8;
                    transition: .3s;
                    vertical-align: top;
                }
            }
            .grid-inner_content {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                @include make-flex;
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column);
                .category-name {
                    text-transform: uppercase;
                    color: $white;
                    font-size: 30px;
                    max-width:270px;
                    text-align: center;
                    line-height: 34px;
                    &:hover {
                        color: $primary;
                    }
                }
                .inner {
                    @media (min-width: $screen-md-min) {
                        transform: rotateX(90deg);
                        transition: .3s;
                        max-height: 0;
                    }
                    margin-top: 15px;
                }
                .button-more {
                    @include button-block;
                    background: $primary;
                    color: $white;
                    &:hover {
                        background: $white;
                        color: $accent;
                    }

                }
            }
            &:hover {
                .category-image {
                    img {
                        opacity: .2;
                    }
                }
                @media (min-width: $screen-md-min) {
                    .grid-inner_content {
                        .inner {
                            transform: rotateX(0deg);
                            max-height: 100px;
                        }
                    }
                }
            }
        }
    }
    &.hide-title {
        .catalog-image-grid-title {
            display: none;
        }
    }
}