<div class="field limiter">
    <label class="label" for="limiter">
        <span><?php /* @escapeNotVerified */ echo __('Show') ?></span>
    </label>
    <div class="control">
        <select id="limiter" data-role="limiter" class="limiter-options"  data-mage-init='{"selectize":{}}'>
            <?php foreach ($block->getAvailableLimits() as $_key => $_limit): ?>
                <option value="<?php /* @escapeNotVerified */ echo $_key ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                    selected="selected"<?php endif ?>>
                    <?php /* @escapeNotVerified */ echo $_limit ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <span class="limiter-text"><?php /* @escapeNotVerified */ echo __('per page') ?></span>
</div>
