<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_relatedHelper = $this->helper('TemplateMonster\Blog\Helper\RelatedPosts');
$_dataHelper = $this->helper('TemplateMonster\Blog\Helper\Data');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if($_dataHelper->isModuleActive()): ?>
    <?php if ($_attributeValue): ?>
        <div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
            <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
            <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?>
            <?php if ($_relatedHelper->isEnabled()): ?>
                    <?php if ($urls = $_relatedHelper->getRelatedPostsUrls()): ?>
                        <div class="tm-blog related-posts-container">
                            <h4><?php echo __('Related posts:'); ?></h4>
                            <ul class="related-posts">
                            <?php foreach ($_relatedHelper->getRelatedPostsUrls() as $relatedPostsUrl): ?>
                                <li><?php echo $relatedPostsUrl; ?></li>
                            <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endif; ?>
            <?php endif ;?>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
