<div class="sm-header-panel-canvas"></div>

<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<div class="sm-header-nav-wrap">
    <button class="sm-header-nav-toggle"><span></span></button>
    <nav class="navigation" data-action="navigation">
        <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php /* @escapeNotVerified */ echo $_menu; ?>

			<li class="level0 nav-6 level-top  ui-menu-item" role="presentation"><a href="/" class="level-top  ui-corner-all" id="ui-id-6" tabindex="-1" role="menuitem"><span>About Us</span></a></li>

			<li class="level0 nav-7 level-top  ui-menu-item" role="presentation"><a href="/" class="level-top  ui-corner-all" id="ui-id-7" tabindex="-1" role="menuitem"><span>Contact Us</span></a></li>

            <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
        	
        </ul>
    </nav>
</div>
