/* PRODUCT DETAILS */
.price-box.price-final_price span{
	font-size: 20px !important;
}
.fotorama__caption{
	display: none;
}
.product-info-main .brands{
    color: #dd3333;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 0;
}
.product-info-main  span.tags{
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
}
.product-info-main  span.tags-new {
    background: #37ca6f;
}
.product-info-main  span.tags-rare {
    background: #5800c4;
}
.product-info-main  span.tags-hot {
    background: #f98c15;
}
.product-info-main  span.tags-sale {
    background: #dd3333;
}
.product-info-tags-wrapper {
    display: inline-block;
    margin: 5px 0;
}
.catalog-product-view {
    background: #f5f5f5;
}
.breadcrumbs-main-wrapper {
    background: #f5f5f5;
    padding: 5px 0px;
}
.breadcrumbs{
	background: #f5f5f5;
	padding: 0px;
    margin: auto;
}
.breadcrumbs-main-wrapper .breadcrumbs .items .item a {
    font-weight: bold;
}
@media (min-width: 1200px){
	.page-layout-1column .breadcrumbs-main-wrapper .breadcrumbs {
	    max-width: 1190px;
	}
}
.catalog-product-view .product.info, 
.modal-popup.quick-view .product.info,
.catalog-product-view .product.info .content[role="tabpanel"], 
.modal-popup.quick-view .product.info .content[role="tabpanel"]{
	background: #f5f5f5 !important;
}