// Main styles

.block-posts-list {
    clear: both;
    font-family: $font;

    .post-items {
        display: flex;
        -webkit-display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -15px;

        .post-item {
            @include flex-basis(100%);
            list-style: none;
            padding: 0 15px;
            box-sizing: border-box;

            @media (min-width: $screen-md-min){
                @include flex-basis(50%);
            }
            @media (min-width: $screen-md-min){
                @include flex-basis(33.3333%);
            }

            .item-wrapper {
                padding-bottom: 43px;
            }
        }
        // Image
        .post-image {
            margin-bottom: 21px;

            img {
                width: 100%;
                vertical-align: top;
            }
        }

        // Title
        .post-title {
            margin-bottom: 6px;

            h3 {
                font-family: $font;
                font-size: $title-size;
                line-height: $title-lh;
                font-weight: 500;
                margin: 0;

                a {
                    color: $title-color;
                    text-decoration: none;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        // Short Content
        .post-short-content {
            font-size: inherit;
            line-height: inherit;
            margin-bottom: 26px;
        }

        // Post link
        .post-link {
            color: $link-color;
            font-weight: 700;
            text-transform: none;

            &:hover {
                color: lighten($color, 40%);
            }
        }

        // Post data
        .post-data {
            @include make-flex;
            @include justify-content(space-between);

            .create-date,
            .post-author,
            .post-comments {
                a {
                    text-decoration: none;
                    &:hover {
                        color: $color;
                    }
                }
                a span:before,
                &:before {
                    font-size: 18px;
                    padding-right: 4px;
                    color: $color;
                    vertical-align: middle;
                }
            }
            .create-date {
                @include order(2);
                margin-right: auto;

                time {
                    display: inline-block;
                }
            }
            .post-author {
                @include order(1);
                font-weight: 700;
                margin-right: 7px;
            }
            .post-comments {
                @include order(3);
                @include flex-basis(50px);
                @include font-icon('\ea7b');
                text-align: right;
            }

            @media (max-width: 1200px) {
                display: block;
                overflow: hidden;

                .create-date,
                .post-author {
                    display: block;
                }

                .post-comments {
                    float: right;
                }
            }
        }

        @media (max-width: 768px) {
            .post-item {
                flex-basis: 50%;
                -webkit-flex-basis: 50%;

                .item-wrapper {
                    padding-bottom: 20px;
                }
            }
        }
        @media (max-width: 350px) {
            .post-item {
                flex-basis: 100%;
                -webkit-flex-basis: 100%;
            }
        }
    }
}

.posts-list-wrapper{

    /*Toolbar
    **********************************************/
    .toolbar-top {
        margin-bottom: 30px;

        .toolbar {
            margin-bottom: 0;
            text-align: left;
        }
        .sorter {
            float: left;
            margin-bottom: 5px;
        }
        .limiter {
            display: block;
            margin-bottom: 5px;
            text-align: right;
        }
        .pages{
            display: none;
        }
    }
    .toolbar-bottom {
        .toolbar {
            margin-bottom: 0;
            .pages {
                text-align: left;
                margin: 0;
                display: block;

                .pages-item-next {
                    position: relative;
                }
            }
        }
        .sorter,
        .limiter {
            display: none;
            visibility: hidden;
        }
    }
}

