// Variables

$font: inherit;

// Colors
$color: $text-dark;
$title-color: $color;
$link-color: $primary;
$post-data-color: $default;
$data-border-color: $border-color;

// Title
$title-size: 30px;
$title-lh: 34px;

// Comments
$comment-bg: #f4f4f4;
$comment-indent: 30px;
$comment-margin: 20px;
$comment-title-size: 24px;
$comment-title-margin: 34px;
$commetn-border: #e8e8e8;

$label-width: 90px;

// Related Post

$post-title-size: 18px;
$post-title-height: 51px;
$post-title-color: #000000;
$post-title-border: #e8e8e8;
$post-title-color-hover: $post-title-border;