
.timer-wrapper{
    border: none;
    background: $primary;
    color: $white;
    border-radius: 4px;
    font-weight: 700;
    max-width: 300px;
    padding: 12px 8px;
    font-size: 14px;
    line-height: 16px;
    @include make-flex;
    @include justify-content(center);
    @include align-items(center);

    position: absolute;
    top: -65px;
    left: 10px;
    z-index: 99;
}