
//
//  Generic Grid/List Item
//  ---------------------------------------------

.products-grid,
.products-list{
    .product-item{
        .product-item-info {
            position: relative;
        }
        .quick-view-button{
            float: none;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 999;
            font-weight: 400;
        }

        // Image
        .product-image-container {
            display: block;
            max-width: 100%;
        }
        .product-item-photo{
            background: transparent;
            display: block;
            padding: 0;
            text-align: center;
        }
        .product-image-wrapper {
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        .product-image-photo {
            bottom: 0;
            display: block;
            height: auto;
            left: 0;
            margin: auto;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }

        // Price

        .price-box{
            @include price-box; // _mixins.scss
            @include make-flex;
            @include flex-direction(column);
            @include align-items(flex-end);
            font-size: 20px;
            line-height: 1;
            font-weight: 700;

            .price-as-configured{
                margin-bottom: 0;

                .price-container{
                    margin-bottom: 1em;
                }
            }
        }

        .map-show-info{
            font-size: 14px;
            line-height: 14px;
            &:before {
                content: "";
                display: block;
                font-size: 0;
                line-height: 0;
                height: 0;
            }
        }

        //Name
        .product-item-name{
            display: block;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            text-transform: uppercase;
            overflow: hidden;
            white-space: nowrap;
            margin-right: 20px;
            text-overflow: ellipsis;

            a{
                color: $text-dark;
                &:hover{
                    color: $primary;
                }
            }
        }

        //Details
        .product-item-description p{
            margin-bottom: 0;
        }

        //Reviews
        .product-reviews-summary{
            @include make-flex;
            margin-bottom: 12px;
        }
        .rating-summary{
            .label{
                display: none;
            }
        }
        .reviews-actions{
            .view{
                margin-right: 12px;
            }
        }

        // Swatches

        .swatch-option{
            margin-bottom: 10px;

            + .swatch-option{
                margin-left: 5px;
            }
            &.text{
                padding: 2px;
            }
        }

        //Actions
        .product-item-actions{
            margin-top: 0;
            @include make-flex();
            @include flex-wrap(wrap);

            .actions-secondary{
                @include make-flex();
                @include justify-content(center);

                .action{
                    background-color: transparent;
                    font-size: 18px;
                    line-height: 40px;
                    color: $default;
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 0;
                    border: none;
                    background: $bg-dark;
                    text-align: center;
                    margin-left: 8px;
                    &:hover{
                        color: $white;
                        background: $text-dark;
                        animation: hvr-push .3s ease 1;
                    }
                }
            }
        }

        .product-item-details {
            position: relative;
        }
        .price-rating-box {
            @include make-flex;
            @include flex-direction(column);
            overflow: hidden;
        }
    }
}

.products-grid{
    .product-item{
        text-align: left;
    }

    .product-reviews-summary .reviews-actions{
        display: none;
    }
}
.products-list {
    .product-item {
        .product-image-photo {
            margin: 0;
        }
        .price-box {
            @include align-items(flex-start);
            margin-bottom: 7px;
        }
        .actions-primary .action span {
            line-height: 25px;
        }
    }
    .timer-wrapper {
        position: static;
        margin-bottom: 10px;
    }
}